.red{
    color: red;
}

.green{
    color: green !important;
}

.tj_cont_body{
    width: 100%;
    height: 120px;
    margin: 20px 0;
}

.tj_cont_body .zt_body{
  text-align: center;
    background-color: #73d5ff;
    float: left;
    width: 30%;
    margin-left: 3%;
    height: 120px;
    color: white;
}

.zt_body .tj_cont{
    height: 50px;
    margin-top: 35px;
    line-height: 25px;
}

/*列表分页*/
.page li{
    float: left;
    width: 35px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #e2e2e2;
    border-right: 0;
}
.page .active{
    background: #009688;
    border: 0;
    height: 30px;
    line-height: 30px;
    color: white;
}
.page li:first-child{
   width: 45px;
}
.page li:last-child{
    width: 45px;
    border-right: 1px solid #e2e2e2;
}


.cont-background{
    background: #efefef;
}

/*多图上传*/

.upload_img_div{
    background: #E5E5E5;
    width: 150px;
    height: 95px;
    color: white;
    text-align: center;
    line-height: 95px;
    font-size: 50px;
    float: left;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

.upload_img_div:hover {
    background: grey;
}

.upload_imgs p{
    float: left;
    width: 20%;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.upload_imgs p span {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background: red;
    border-radius: 50%;
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    text-align: center;

}

.upload_imgs img{
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 100%;
}