*{word-wrap:break-word}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl,li{list-style-type:none}
/*IE下a:hover 背景闪烁*/
*html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}
 
.clearfix:after{  content: "";   display: block;   height: 0;   clear: both;  visibility: hidden;  }
.clearfix {  zoom: 1;   }
.fr{float: right;}.fl{float: left;}

/*头部*/
.Navtop{background:#316bc6;min-height:70px; width: 100%;}
.NavtopR img{margin-top: 10px;}
.names,.time{font-size: 14px; line-height: 70px; color: #fff; position: relative;}
.time{ padding-left:18px;    width: 221px;display: inline-block;}
.time:before{content: ""; position: absolute; top:50%; left: 0;
background: url(../img/time.png) no-repeat; background-size: 100%;  width:20px; height: 20px;margin-top: -10px;margin-left: -10px;}
.names{text-decoration: underline; padding: 0 40px;cursor: pointer; margin-left: 30px;}
.names:before{content: ""; position: absolute; top:30%; left: 0; height:40%;background: #f5f5f5;width: 1px;opacity: 0.3;-webkit-opacity: 0.3;-moz-opacity: 0.3;}
.ling{ background:#2C71B8;}
.exit{ background:#206CBA;}
.ling,.exit{width:70px;height:70px; position: relative; cursor: pointer;}
.ling img,.exit img{text-align:center;}
.ling img,.exit img{ position: absolute; top: 50%; left: 50%;}
.ling img{margin-top: -16px; margin-left: -16px;}
.exit img{    margin-top: -9px;    margin-left: -8px;}
.cars{width: 100%;}
.cars li{float: left; margin-right: 1%;    border-radius:4px;    -webkit-border-radius:4px;    -moz-border-radius:4px;}
.cars li:last-child{ margin-right: 0%;   }
.cars li:nth-child(1n){background:#FF6175;}
.cars li:nth-child(2n){background:#3FB0FF;}
.cars li:nth-child(3n){background:#FFC255;}
.carword{font-size:16px;color: #fff; border-bottom:1px solid #fff; padding: 9px 2px;text-align: center;}
.carnumber{font-size:36px;color: #fff;text-align: center; padding:12px 0;}

/*登陆*/
.landbg{background: url(../img/5.jpg) no-repeat;background-size: cover;width: 100%; height: 100%;}
.landcont{ margin:10% auto; width: 310px; }
.landlogo{width: 102px; margin: 0 auto;}
.landtit{font-size:22px;color: #fff; margin: 20px auto;}
.landUl li input{height: 55px; line-height: 55px;width: 100%;text-align: center; outline: none; border: none; padding: 0;margin: 0;
background:#fff;opacity: 0.5;-webkit-opacity: 0.5;-moz-opacity: 0.5;}
.landUl li{position: relative; margin-bottom: 15px;}
.landUl li,.landbtn{border-radius: 4px ; -webkit-border-radius: 4px ;-moz-border-radius: 4px ;
 height: 55px; line-height: 55px;}
.landUl li input{border-radius: 4px ; -webkit-border-radius: 4px ;-moz-border-radius: 4px ; }
.landbtn{width: 100%;text-align: center;display: block;
background:#0B1554; 
opacity: 0.5;-webkit-opacity: 0.5;-moz-opacity: 0.5;
background: -webkit-linear-gradient(#1A2F8D,#0B1554); 
background: -o-linear-gradient(#1A2F8D,#0B1554); 
background: -moz-linear-gradient(#1A2F8D,#0B1554); 
background:linear-gradient(#1A2F8D,#0B1554);
background: -webkit-linear-gradient(#1A2F8D,#0B1554) opacity:0.5; 
background: -o-linear-gradient(#1A2F8D,#0B1554) opacity:0.5; 
background: -moz-linear-gradient(#1A2F8D,#0B1554) opacity:0.5; 
background:linear-gradient(#1A2F8D,#0B1554); opacity:0.5}
.landbtns{cursor: pointer; border:none;background:none;outline: none;width: 100%;height: 55px; line-height: 55px;color: #fff;font-size: 18px;}
.forget{text-align: center;color: #fff;font-size: 16px; display: block; margin: 20px auto;text-decoration: none;}
.dian{text-decoration: underline;}
.landUl li:before{content: ""; position: absolute; top:50%; left:22px;width: 18px;height: 21px; opacity: 1; margin-top:-10px;margin-left: -9px;}
.landUl .name:before{background:url(../img/2.png) no-repeat;}
.landUl .password:before{background:url(../img/3.png) no-repeat;}
